@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --on-orange: #e59a51;
    --on-orange-light: #ff9900;
  }

  *,
  *::after,
  *::before {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}
@layer components {
  .hero_left {
    @apply bg-cover bg-center;
    background: url("../images/home/back_01.jpg") no-repeat no-repeat;
    background-color: grey;
    background-blend-mode: multiply;
    background-size: cover;

  }
}

@layer utilities {
  .on_container {
    @apply container mx-auto;
  }
  .btns {
    @apply py-2 px-4 font-semibold rounded cursor-pointer;
  }
  .btns_green {
    @apply bg-[#229900] hover:bg-[#28b300] text-white;
  }
}
